<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%t] %-5p %logger{0} - %m%n</pattern>
        </encoder>
    </appender>
    <property name="APP_LOG" value="logs/billing.log"/>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${APP_LOG}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/archived/billing.%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <!--  each archived file, size max 10MB  -->
            <maxFileSize>10MB</maxFileSize>
            <!--  total size of all archived files,
                         delete old archived files if size exceeds  -->
            <totalSizeCap>1GB</totalSizeCap>
            <!--  10 days to keep  -->
            <maxHistory>10</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d [%t] %-5p %logger{0} - %m%n</pattern>
        </encoder>
    </appender>
    <logger name="com.billing" level="debug" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </logger>
    <root level="error">
        <appender-ref ref="FILE-ROLLING"/>
        <appender-ref ref="STDOUT"/>
    </root>
    <root level="info">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>